# Solution for assignment on Lecture 14

https://course.masaischool.com/assignments/12447/

#### Required CSV files are available in my DRIVE. While providing path, you have to provide path in your Google Drive or local machine

In [ ]:
import csv

# Q1. Births_USA

In [ ]:
path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/births_usa.csv"

with open(path, 'r') as f:
  reader = csv.reader(f)
  # read column names
  cols = next(iter(reader))
  # read rows
  rows = []
  for i in reader:
    rows.append(i)

In [ ]:
print(cols)

['year', 'month', 'date_of_month', 'day_of_week', 'births']

In [ ]:
len(rows)

5479

In [ ]:
# sample 1 row
rows[0]

['2000', '1', '1', '6', '9083']

In [ ]:
# we are interested in month, which is available as numbers as well as births
# create a list of months

months_list = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"]

# create a dictionary of months as keys and births as values
d = dict.fromkeys(months_list, 0)
d

{'April': 0,
 'August': 0,
 'December': 0,
 'February': 0,
 'January': 0,
 'July': 0,
 'June': 0,
 'March': 0,
 'May': 0,
 'November': 0,
 'October': 0,
 'September': 0}

In [ ]:
# iterate through all the rows in CSV file and manipulate

for row in rows:
  month_idx = int(row[1])
  birth_count = int(row[-1])

  # update in dictionary
  # month starts with 1 and ends with 12
  # but index starts with 0 and ends with 11
  month_name = months_list[month_idx-1]
  d[month_name] += birth_count

In [ ]:
# print report

for month in months_list:
  print(month, d[month], sep=" - ")

January - 5072588
February - 5063432
March - 5497007
April - 5308574
May - 5518802
June - 5511310
July - 5798317
August - 5896301
September - 5767485
October - 5658846
November - 5361118
December - 5536926

In [ ]:
# write report in a CSV file
write_path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/births_usa_report.csv"

with open(write_path,'w') as f:
  writer = csv.writer(f)
  # write column names
  writer.writerow(['month', 'total_births'])
  # write data
  for month in months_list:
    writer.writerow([month, d[month]])

# Q2 Births_USA_2

In [ ]:
# we are interested in weekday, which is available as numbers, as well as births
# create a list of weekdays

week_list = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

# create a dictionary of weeks as keys and births as values
d1 = dict.fromkeys(week_list, 0)
d1

{'Friday': 0,
 'Monday': 0,
 'Saturday': 0,
 'Sunday': 0,
 'Thursday': 0,
 'Tuesday': 0,
 'Wednesday': 0}

In [ ]:
s=set()
for row in rows:
  s.add(row[-2]) 

s

{'1', '2', '3', '4', '5', '6', '7'}

In [ ]:
# iterate through all the rows in CSV file and manipulate

for row in rows:
  week_idx = int(row[-2])
  birth_count = int(row[-1])

  # update in dictionary
  # week starts with 1 and ends with 7
  # but index starts with 0 and ends with 6
  week_name = week_list[week_idx-1]
  d1[week_name] += birth_count

In [ ]:
# print report 
print(*week_list, sep=",")
print(*[d1[week] for week in week_list], sep=",")

Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
9316001,10274874,10109130,10045436,9850199,6704495,5886889

In [ ]:
# write in a CSV file

write_path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/births_usa_2_report.csv"

with open(write_path,'w') as f:
  writer = csv.writer(f)
  # write column names
  writer.writerow(week_list)
  # write data
  writer.writerow([d1[week] for week in week_list])

# Q3 Temperatures

In [ ]:
path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv"
# /content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv \

with open(path, 'r') as file:
  reader = csv.reader(file) # iterator
  cols = next(iter(reader)) # 365
  rows = [] 

  for i in reader:
    rows.append(i)
print(cols)
print(len(rows))

['date', 'actual_mean_temp', 'actual_min_temp', 'actual_max_temp', 'average_min_temp', 'average_max_temp', 'record_min_temp', 'record_max_temp', 'record_min_temp_year', 'record_max_temp_year', 'actual_precipitation', 'average_precipitation', 'record_precipitation']
365

In [ ]:
# OR

path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv"
# /content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv \

with open(path, 'r') as file:
  reader = csv.reader(file) # iterator
  rows = [] 

  for i in reader:
    rows.append(i)

print(len(rows))
cols = rows.pop(0)
#rows  = rows[1:] 
print(cols)
print(len(rows))

366
['date', 'actual_mean_temp', 'actual_min_temp', 'actual_max_temp', 'average_min_temp', 'average_max_temp', 'record_min_temp', 'record_max_temp', 'record_min_temp_year', 'record_max_temp_year', 'actual_precipitation', 'average_precipitation', 'record_precipitation']
365

In [ ]:
# what columns are there?
cols

['date',
 'actual_mean_temp',
 'actual_min_temp',
 'actual_max_temp',
 'average_min_temp',
 'average_max_temp',
 'record_min_temp',
 'record_max_temp',
 'record_min_temp_year',
 'record_max_temp_year',
 'actual_precipitation',
 'average_precipitation',
 'record_precipitation']

In [ ]:
# how a row looks like?
# Rs.100 
rows[3]

['2014-7-4',
 '72',
 '62',
 '82',
 '63',
 '82',
 '53',
 '103',
 '1900',
 '1907',
 '0',
 '0',
 '0.07']

In [ ]:
# year month min max
# 2014  7    62   82
# 2014  8    60  74
# 2014  9
# dict
# {key - year&month, val - [min, max]}

In [ ]:
# we are interested in month, year, actual_min_temp, actual_max_temp
summary = {} # (2014,7)

for row in rows:
  date = row[0]
  year,month,day = map(int,date.split("-"))

  actual_min_temp = int(row[2])
  actual_max_temp = int(row[3])

  # add necessary data
  # if year, month pair is new, create a key-value pair
  if (year, month) not in summary: # key is not avail
    summary[(year, month)] = [actual_min_temp, actual_max_temp]    

  else: # key already avail
    # compare and update (2014,7) : [62, 81] 
    if actual_min_temp < summary[(year, month)][0]:
      summary[(year, month)][0] = actual_min_temp 

    if actual_max_temp > summary[(year, month)][1]:
      summary[(year, month)][1] = actual_max_temp
    
len(summary)

12

In [ ]:
summary

{(2014, 7): [62, 92],
 (2014, 8): [63, 91],
 (2014, 9): [61, 103],
 (2014, 10): [59, 98],
 (2014, 11): [51, 90],
 (2014, 12): [39, 83],
 (2015, 1): [37, 85],
 (2015, 2): [46, 88],
 (2015, 3): [48, 93],
 (2015, 4): [49, 92],
 (2015, 5): [50, 84],
 (2015, 6): [58, 91]}

In [ ]:
[2014, 7, 62, 92]

In [3]:
# write in a CSV file
import csv 
write_path = "/content/temperatures11.csv"
with open(write_path, 'w') as f:
  writer = csv.writer(f)

  # # write column headers
  # new_cols = ["year", "month", "actual_min_temp", "actual_max_temp"]
  # #writer.writerow(new_cols)
  # print(new_cols)
  # # write data
  # for key,val in sorted(summary.items()): 
  #   data = [key[0], key[1], val[0], val[1]]
  #   writer.writerow(data)
  #   print(data)

In [ ]:
import pandas as pd

In [ ]:
path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv"
df = pd.read_csv(path)
df

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,70,63,77,63,82,52,107,1886,1985,0.0,0.0,0.09
1,2014-7-2,70,62,77,63,82,51,102,1887,1985,0.0,0.0,0.00
2,2014-7-3,72,63,81,63,82,52,100,1902,1985,0.0,0.0,0.00
3,2014-7-4,72,62,82,63,82,53,103,1900,1907,0.0,0.0,0.07
4,2014-7-5,75,64,86,63,82,50,100,1886,1907,0.0,0.0,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,69,60,78,62,80,48,112,1894,1990,0.0,0.0,0.19
361,2015-6-27,70,62,77,62,81,49,109,1894,1990,0.0,0.0,0.39
362,2015-6-28,77,67,86,62,81,52,98,1887,1980,0.0,0.0,0.00
363,2015-6-29,80,68,91,62,81,50,98,1893,1996,0.0,0.0,0.03
364,2015-6-30,78,67,89,62,81,49,100,1894,1985,0.0,0.0,0.01

In [ ]:
df = df.iloc[:, [0,2,3]] 
df

          date  actual_min_temp  actual_max_temp
0     2014-7-1               63               77
1     2014-7-2               62               77
2     2014-7-3               63               81
3     2014-7-4               62               82
4     2014-7-5               64               86
..         ...              ...              ...
360  2015-6-26               60               78
361  2015-6-27               62               77
362  2015-6-28               67               86
363  2015-6-29               68               91
364  2015-6-30               67               89

[365 rows x 3 columns]

In [ ]:
df.date

In [ ]:
df['year'] = df.date.map(lambda x: int(x.split('-')[0]))
df['month'] = df.date.map(lambda x: int(x.split('-')[1]))
df['actual_min_temp'] = df["actual_min_temp"].map(lambda x:int(x))
df['actual_max_temp'] = df["actual_max_temp"].map(lambda x:int(x))

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

          date  actual_min_temp  actual_max_temp  year  month
0     2014-7-1               63               77  2014      7
1     2014-7-2               62               77  2014      7
2     2014-7-3               63               81  2014      7
3     2014-7-4               62               82  2014      7
4     2014-7-5               64               86  2014      7
..         ...              ...              ...   ...    ...
360  2015-6-26               60               78  2015      6
361  2015-6-27               62               77  2015      6
362  2015-6-28               67               86  2015      6
363  2015-6-29               68               91  2015      6
364  2015-6-30               67               89  2015      6

[365 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             365 non-null    object
 1   actual_min_temp  365 non-null    int64
 2   actual_max_temp  365 non-null    int64
 3   year             365 non-null    int64
 4   month            365 non-null    int64
dtypes: int64(4), object(1)
memory usage: 14.4+ KB

In [ ]:
#sum(df)
# df.sum()

In [ ]:
summary = df.groupby(['year', 'month']).agg({'actual_min_temp':'min', 'actual_max_temp':'max'}).reset_index()

In [ ]:
summary

    year  month  actual_min_temp  actual_max_temp
0   2014      7               62               92
1   2014      8               63               91
2   2014      9               61              103
3   2014     10               59               98
4   2014     11               51               90
5   2014     12               39               83
6   2015      1               37               85
7   2015      2               46               88
8   2015      3               48               93
9   2015      4               49               92
10  2015      5               50               84
11  2015      6               58               91

In [ ]:
write_path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/pd_summary_temperatures.csv"

summary.to_csv(write_path, index=False)

In [ ]:
path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/census_2011.csv"
d = pd.read_csv(path)
d.shape

(640, 118)

In [ ]:
d.columns.tolist()

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [ ]:
cols = ['District name','Literate','Housholds_with_Electric_Lighting', 'Households', 'Households_with_Telephone_Mobile_Phone']
k = d[cols]

In [ ]:
k['District name'].unique()

array(['Kupwara', 'Badgam', 'Leh(Ladakh)', 'Kargil', 'Punch', 'Rajouri',
       'Kathua', 'Baramula', 'Bandipore', 'Srinagar', 'Ganderbal',
       'Pulwama', 'Shupiyan', 'Anantnag', 'Kulgam', 'Doda', 'Ramban',
       'Kishtwar', 'Udhampur', 'Reasi', 'Jammu', 'Samba', 'Chamba',
       'Kangra', 'Lahul AND Spiti', 'Kullu', 'Mandi', 'Hamirpur', 'Una',
       'Bilaspur', 'Solan', 'Sirmaur', 'Shimla', 'Kinnaur', 'Gurdaspur',
       'Kapurthala', 'Jalandhar', 'Hoshiarpur',
       'Shahid Bhagat Singh Nagar', 'Fatehgarh Sahib', 'Ludhiana', 'Moga',
       'Firozpur', 'Muktsar', 'Faridkot', 'Bathinda', 'Mansa', 'Patiala',
       'Amritsar', 'Tarn Taran', 'Rupnagar', 'Sahibzada Ajit Singh Nagar',
       'Sangrur', 'Barnala', 'Chandigarh', 'Uttarkashi', 'Chamoli',
       'Rudraprayag', 'Tehri Garhwal', 'Dehradun', 'Garhwal',
       'Pithoragarh', 'Bageshwar', 'Almora', 'Champawat', 'Nainital',
       'Udham Singh Nagar', 'Hardwar', 'Panchkula', 'Ambala',
       'Yamunanagar', 'Kurukshetra', 'Kaithal', 'Karnal', 'Panipat',
       'Sonipat', 'Jind', 'Fatehabad', 'Sirsa', 'Hisar', 'Bhiwani',
       'Rohtak', 'Jhajjar', 'Mahendragarh', 'Rewari', 'Gurgaon', 'Mewat',
       'Faridabad', 'Palwal', 'North West', 'North', 'North East', 'East',
       'New Delhi', 'Central', 'West', 'South West', 'South',
       'Ganganagar', 'Hanumangarh', 'Bikaner', 'Churu', 'Jhunjhunun',
       'Alwar', 'Bharatpur', 'Dhaulpur', 'Karauli', 'Sawai Madhopur',
       'Dausa', 'Jaipur', 'Sikar', 'Nagaur', 'Jodhpur', 'Jaisalmer',
       'Barmer', 'Jalor', 'Sirohi', 'Pali', 'Ajmer', 'Tonk', 'Bundi',
       'Bhilwara', 'Rajsamand', 'Dungarpur', 'Banswara', 'Chittaurgarh',
       'Kota', 'Baran', 'Jhalawar', 'Udaipur', 'Pratapgarh', 'Saharanpur',
       'Muzaffarnagar', 'Bijnor', 'Moradabad', 'Rampur',
       'Jyotiba Phule Nagar', 'Meerut', 'Baghpat', 'Ghaziabad',
       'Gautam Buddha Nagar', 'Bulandshahr', 'Aligarh', 'Mahamaya Nagar',
       'Mathura', 'Agra', 'Firozabad', 'Mainpuri', 'Budaun', 'Bareilly',
       'Pilibhit', 'Shahjahanpur', 'Kheri', 'Sitapur', 'Hardoi', 'Unnao',
       'Lucknow', 'Rae Bareli', 'Farrukhabad', 'Kannauj', 'Etawah',
       'Auraiya', 'Kanpur Dehat', 'Kanpur Nagar', 'Jalaun', 'Jhansi',
       'Lalitpur', 'Mahoba', 'Banda', 'Chitrakoot', 'Fatehpur',
       'Kaushambi', 'Allahabad', 'Bara Banki', 'Faizabad',
       'Ambedkar Nagar', 'Sultanpur', 'Bahraich', 'Shrawasti',
       'Balrampur', 'Gonda', 'Siddharthnagar', 'Basti',
       'Sant Kabir Nagar', 'Mahrajganj', 'Gorakhpur', 'Kushinagar',
       'Deoria', 'Azamgarh', 'Mau', 'Ballia', 'Jaunpur', 'Ghazipur',
       'Chandauli', 'Varanasi', 'Sant Ravidas Nagar (Bhadohi)',
       'Mirzapur', 'Sonbhadra', 'Etah', 'Kanshiram Nagar',
       'Pashchim Champaran', 'Purba Champaran', 'Sheohar', 'Sitamarhi',
       'Madhubani', 'Supaul', 'Araria', 'Kishanganj', 'Purnia', 'Katihar',
       'Madhepura', 'Saharsa', 'Darbhanga', 'Muzaffarpur', 'Gopalganj',
       'Siwan', 'Saran', 'Vaishali', 'Samastipur', 'Begusarai',
       'Khagaria', 'Bhagalpur', 'Banka', 'Munger', 'Lakhisarai',
       'Sheikhpura', 'Nalanda', 'Patna', 'Bhojpur', 'Buxar',
       'Kaimur (Bhabua)', 'Rohtas', 'Aurangabad', 'Gaya', 'Nawada',
       'Jamui', 'Jehanabad', 'Arwal', 'North  District', 'West District',
       'South District', 'East District', 'Tawang', 'West Kameng',
       'East Kameng', 'Papum Pare', 'Upper Subansiri', 'West Siang',
       'East Siang', 'Upper Siang', 'Changlang', 'Tirap',
       'Lower Subansiri', 'Kurung Kumey', 'Dibang Valley',
       'Lower Dibang Valley', 'Lohit', 'Anjaw', 'Mon', 'Mokokchung',
       'Zunheboto', 'Wokha', 'Dimapur', 'Phek', 'Tuensang', 'Longleng',
       'Kiphire', 'Kohima', 'Peren', 'Senapati', 'Tamenglong',
       'Churachandpur', 'Bishnupur', 'Thoubal', 'Imphal West',
       'Imphal East', 'Ukhrul', 'Chandel', 'Mamit', 'Kolasib', 'Aizawl',
       'Champhai', 'Serchhip', 'Lunglei', 'Lawngtlai', 'Saiha',
       'West Tripura', 'South Tripura', 'Dhalai', 'North Tripura',
       'West Garo Hills', 'East Garo Hills', 'South Garo Hills',
       'West Khasi Hills', 'Ribhoi', 'East Khasi Hills', 'Jaintia Hills',
       'Kokrajhar', 'Dhubri', 'Goalpara', 'Barpeta', 'Morigaon', 'Nagaon',
       'Sonitpur', 'Lakhimpur', 'Dhemaji', 'Tinsukia', 'Dibrugarh',
       'Sivasagar', 'Jorhat', 'Golaghat', 'Karbi Anglong', 'Dima Hasao',
       'Cachar', 'Karimganj', 'Hailakandi', 'Bongaigaon', 'Chirang',
       'Kamrup', 'Kamrup Metropolitan', 'Nalbari', 'Baksa', 'Darrang',
       'Udalguri', 'Darjiling', 'Jalpaiguri', 'Koch Bihar',
       'Uttar Dinajpur', 'Dakshin Dinajpur', 'Maldah', 'Murshidabad',
       'Birbhum', 'Barddhaman', 'Nadia', 'North Twenty Four Parganas',
       'Hugli', 'Bankura', 'Puruliya', 'Haora', 'Kolkata',
       'South Twenty Four Parganas', 'Paschim Medinipur',
       'Purba Medinipur', 'Garhwa', 'Chatra', 'Kodarma', 'Giridih',
       'Deoghar', 'Godda', 'Sahibganj', 'Pakur', 'Dhanbad', 'Bokaro',
       'Lohardaga', 'Purbi Singhbhum', 'Palamu', 'Latehar', 'Hazaribagh',
       'Ramgarh', 'Dumka', 'Jamtara', 'Ranchi', 'Khunti', 'Gumla',
       'Simdega', 'Pashchimi Singhbhum', 'Saraikela-Kharsawan', 'Bargarh',
       'Jharsuguda', 'Sambalpur', 'Debagarh', 'Sundargarh', 'Kendujhar',
       'Mayurbhanj', 'Baleshwar', 'Bhadrak', 'Kendrapara',
       'Jagatsinghapur', 'Cuttack', 'Jajapur', 'Dhenkanal', 'Anugul',
       'Nayagarh', 'Khordha', 'Puri', 'Ganjam', 'Gajapati', 'Kandhamal',
       'Baudh', 'Subarnapur', 'Balangir', 'Nuapada', 'Kalahandi',
       'Rayagada', 'Nabarangapur', 'Koraput', 'Malkangiri', 'Koriya',
       'Surguja', 'Jashpur', 'Raigarh', 'Korba', 'Janjgir - Champa',
       'Kabeerdham', 'Rajnandgaon', 'Durg', 'Raipur', 'Mahasamund',
       'Dhamtari', 'Uttar Bastar Kanker', 'Bastar', 'Narayanpur',
       'Dakshin Bastar Dantewada', 'Bijapur', 'Sheopur', 'Morena',
       'Bhind', 'Gwalior', 'Datia', 'Shivpuri', 'Tikamgarh', 'Chhatarpur',
       'Panna', 'Sagar', 'Damoh', 'Satna', 'Rewa', 'Umaria', 'Neemuch',
       'Mandsaur', 'Ratlam', 'Ujjain', 'Shajapur', 'Dewas', 'Dhar',
       'Indore', 'Khargone (West Nimar)', 'Barwani', 'Rajgarh', 'Vidisha',
       'Bhopal', 'Sehore', 'Raisen', 'Betul', 'Harda', 'Hoshangabad',
       'Katni', 'Jabalpur', 'Narsimhapur', 'Dindori', 'Mandla',
       'Chhindwara', 'Seoni', 'Balaghat', 'Guna', 'Ashoknagar', 'Shahdol',
       'Anuppur', 'Sidhi', 'Singrauli', 'Jhabua', 'Alirajpur',
       'Khandwa (East Nimar)', 'Burhanpur', 'Kachchh', 'Banas Kantha',
       'Patan', 'Mahesana', 'Sabar Kantha', 'Gandhinagar', 'Ahmadabad',
       'Surendranagar', 'Rajkot', 'Jamnagar', 'Porbandar', 'Junagadh',
       'Amreli', 'Bhavnagar', 'Anand', 'Kheda', 'Panch Mahals', 'Dohad',
       'Vadodara', 'Narmada', 'Bharuch', 'The Dangs', 'Navsari', 'Valsad',
       'Surat', 'Tapi', 'Diu', 'Daman', 'Dadra AND Nagar Haveli',
       'Nandurbar', 'Dhule', 'Jalgaon', 'Buldana', 'Akola', 'Washim',
       'Amravati', 'Wardha', 'Nagpur', 'Bhandara', 'Gondiya',
       'Gadchiroli', 'Chandrapur', 'Yavatmal', 'Nanded', 'Hingoli',
       'Parbhani', 'Jalna', 'Nashik', 'Thane', 'Mumbai Suburban',
       'Mumbai', 'Pune', 'Ahmadnagar', 'Bid', 'Latur', 'Osmanabad',
       'Solapur', 'Satara', 'Ratnagiri', 'Sindhudurg', 'Kolhapur',
       'Sangli', 'Adilabad', 'Nizamabad', 'Karimnagar', 'Medak',
       'Hyderabad', 'Rangareddy', 'Mahbubnagar', 'Nalgonda', 'Warangal',
       'Khammam', 'Srikakulam', 'Vizianagaram', 'Visakhapatnam',
       'East Godavari', 'West Godavari', 'Krishna', 'Guntur', 'Prakasam',
       'Sri Potti Sriramulu Nellore', 'Y.S.R.', 'Kurnool', 'Anantapur',
       'Chittoor', 'Belgaum', 'Bagalkot', 'Bidar', 'Raichur', 'Koppal',
       'Gadag', 'Dharwad', 'Uttara Kannada', 'Haveri', 'Bellary',
       'Chitradurga', 'Davanagere', 'Shimoga', 'Udupi', 'Chikmagalur',
       'Tumkur', 'Bangalore', 'Mandya', 'Hassan', 'Dakshina Kannada',
       'Kodagu', 'Mysore', 'Chamarajanagar', 'Gulbarga', 'Yadgir',
       'Kolar', 'Chikkaballapura', 'Bangalore Rural', 'Ramanagara',
       'North Goa', 'South Goa', 'Lakshadweep', 'Kasaragod', 'Kannur',
       'Wayanad', 'Kozhikode', 'Malappuram', 'Palakkad', 'Thrissur',
       'Ernakulam', 'Idukki', 'Kottayam', 'Alappuzha', 'Pathanamthitta',
       'Kollam', 'Thiruvananthapuram', 'Thiruvallur', 'Chennai',
       'Kancheepuram', 'Vellore', 'Tiruvannamalai', 'Viluppuram', 'Salem',
       'Namakkal', 'Erode', 'The Nilgiris', 'Dindigul', 'Karur',
       'Tiruchirappalli', 'Perambalur', 'Ariyalur', 'Cuddalore',
       'Nagapattinam', 'Thiruvarur', 'Thanjavur', 'Pudukkottai',
       'Sivaganga', 'Madurai', 'Theni', 'Virudhunagar', 'Ramanathapuram',
       'Thoothukkudi', 'Tirunelveli', 'Kanniyakumari', 'Dharmapuri',
       'Krishnagiri', 'Coimbatore', 'Tiruppur', 'Yanam', 'PONDICHERRY',
       'Mahe', 'Karaikal', 'Nicobars', 'North  AND Middle Andaman',
       'South Andaman'], dtype=object)

In [ ]:
i = k[k['District name'] == 'Cuttack']
i

,District name,Literate,Housholds_with_Electric_Lighting,Households,Households_with_Telephone_Mobile_Phone
380,Cuttack,2011469,349587,790297,298570

In [ ]:
i['%Housholds_with_Electric_Lighting'] = i.Housholds_with_Electric_Lighting / i.Households *100
i['%Households_with_Telephone_Mobile_Phone'] = i.Households_with_Telephone_Mobile_Phone / i.Households *100

i

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,District name,Literate,Housholds_with_Electric_Lighting,Households,Households_with_Telephone_Mobile_Phone,%Housholds_with_Electric_Lighting,%Households_with_Telephone_Mobile_Phone
380,Cuttack,2011469,349587,790297,298570,44.234889,37.779468